body{
    margin: 0;
    padding: 0;
}

.card {
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
}

.container header {
  background: rgb(111, 111, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  background: rgb(200, 177, 177);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#content {
    background-color: rgb(200, 177, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

#forecast{
  background-color: rgb(200, 177, 177) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}


.container footer {
  background: rgb(111, 111, 206);
}

body{
  font-family: roboto;
}